@tailwind base;
@tailwind components;
@tailwind utilities;

/* .btn {
    background-color: rgb(255, 106, 0);
    color: white;
    padding: 10px 20px;
} */

.banner-slider .swiper-slide:not(.swiper-slide-active) {
  opacity: 0 !important;
}
/* .swiper-button-prev{
  background-color: #226ce5;
  color: black;

} */

.custom-swiper-button .swiper-button-prev:after,
.custom-swiper-button .swiper-button-next:after {
  background-color: #226ce5;
  color: black;
  font-size: 20px !important;
  padding: 2px 4px;
  border-radius: 20px;
}

/* tab css */
.react-tabs__tab-list {
  @apply flex items-center justify-center flex-wrap gap-4;
  border-bottom: 1px solid #d6e6ff !important;
  padding-bottom: 8px !important;
}
.react-tabs__tab-panel {
  @apply w-full lg:w-[500px] mx-auto mt-5;
}
.react-tabs__tab {
  @apply text-black rounded-md border-multi-secondary border-2 shadow-xl;
  border: 1px solid blue !important;
}
.react-tabs__tab--selected {
  border-radius: 6px !important;
  background: #226ce5 !important;
  color: white !important;
}

/* active button css for price sections */
.priceActive {
  @apply border-b-multi-secondary bg-white text-black border-b-4;
}

.btn {
  @apply bg-blue-500 text-white hover:bg-blue-800 transition-all;
}

#aside_bar_update_profile {
  background-color: rgba(240, 248, 255, 0.425);
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 40px;
  padding-right: 40px;
}
/* .react-tagsinput */
.react-tagsinput {
  @apply rounded-lg;
}
.react-tagsinput--focused {
  border-color: #226ce5 !important;
}
.react-tagsinput-tag {
  background-color: #226ce5 !important;
  color: white !important;
}
